* {
    box-sizing: inherit;
}

body {
    display: flex;
    margin: 0;
    flex-direction: column;
    height: 100vh;
    text-align: left;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, FreeSerif, serif;
}

nav {
    display: flex;
    justify-content: right;
    gap: 1em;
}

footer nav {
    justify-content: center;
}

main {
    font-size: 1.125rem;
}

body > main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    width: 80%;
    min-width: 48rem;
    max-width: 64rem;
    margin: 0 auto;
}

@media (max-width: 48rem)
{
    body > main
    {
        width: 100%;
        min-width: 0;
    }
}

.spacer {
    flex-grow: 1;
}

footer {
    padding-top: .75rem;
    padding-bottom: .75rem;
    text-align: center;
    color: #666;
}

main, footer {
    padding-left: .5rem;
    padding-right: .5rem;
}

article {
    width: 100%;
    text-align: left;
}

aside {
    margin-top: 1em;
    font-size: .9em;
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: Arial, Helvetica, FreeSans, 'Liberation Sans', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img, video {
    max-width: 100%;
    max-height: 100%;
}

figure {
    margin: 1em 0;
}

figcaption {
    font-style: italic;
}

pre {
    border: 2px dashed #CCC;
    overflow-x: auto;
    font-size: 1rem;
    background-color: rgba(249, 249, 234, .80);
    color: black;
}

code {
    overflow-wrap: break-word;
}

pre > code {
    font-family: Consolas, FreeMono, FiraMono, UbuntuMono, monospace;
}

fieldset {
    margin-left: 0;
    margin-right: 0;
}

fieldset > div {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1rem;
    max-width: 48rem;
    text-align: left;
}

fieldset label {
    text-wrap-mode: nowrap;
}

textarea, input[type=text], input[type=password] {
    background-color: inherit;
    color: inherit;
}

textarea[name=cmark] {
    width: 100%;
    height: 12rem;
    resize: vertical;
}

input[type=radio] {
    margin: 0;
}

.radio-group {
    display: flex;
    column-gap: 1rem;
    flex-wrap: wrap;
}

/* Table styling */
table {
    border-collapse: collapse;
}

thead {
    border-bottom: 2px dashed grey;
    font-family: Arial, Helvetica, FreeSans, 'Liberation Sans', sans-serif;
}

tr:not(:last-of-type) td {
    border-bottom: 1px solid grey;
}

td:not(:first-of-type), th:not(:first-of-type) {
    padding-left: 4px;
}

td:not(:last-of-type), th:not(:last-of-type) {
    padding-right: 4px;
    border-right: 1px solid grey;
}

td:not(:first-of-type) {
    text-align: right;
}

#primary-header {
    padding-top: 1rem;
    background-color: #262f60;
    color: white;
}

#primary-header > div {
    margin: 0 auto;
    max-width: 64rem;
}

#primary-header a {
    color: white;
}

#brand {
    font-size: 2rem;
    color: inherit;
}

#logout {
    padding: 0;
    border: 0;
    font-size: medium;
    font-family: inherit;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
}

#logout:hover {
    text-decoration: underline;
}

/* Admin pages */
#accounts {
    max-width: 30rem;
    border: 3px inset grey;
}

td.action {
    width: 0;
    white-space: nowrap;
}

/* Discovery pages */
.tree-root main {
    padding-left: 0;
    padding-right: 0;
    margin-left: .5em;
}
.tree-node {
    padding-left: .25em;
}
.tree-dir {
    position: relative;
    padding-top: .25em;
    margin-bottom: .25em;
}
.tree-dir::after {
    content: "";
    background-image: linear-gradient(gray 2em, rgba(128, 128, 128, .5) 5em, rgba(128, 128, 128, .2) 10em, rgba(128, 128, 128, .1) 20em);
    position: absolute;
    bottom: 0;
    left: -.25em;
    height: 100%;
    width: 2px;
}
.tree-dir header {
    position: relative;
    margin-bottom: .25em;
    padding-bottom: .25em;
}
.tree-dir header::after {
    content: "";
    background-image: linear-gradient(to right, gray, rgba(128, 128, 128, 0));
    position: absolute;
    bottom: 0;
    left: -.5em;
    height: 2px;
    width: 15em;
}

/* Dark Color Scheme Styling */
@media (prefers-color-scheme: dark)
{
    body {
        color: #D5D5D5;
        background-color: #202020;
    }
    #primary-header {
        color: #DDD;
        background-color: #16163F;
    }
    footer {
        color: #999;
    }
    pre {
        background-color: #292929;
        color: #DDD;
    }
    a {
        color: #75b9f4;
    }
}

/* Print styling */
@media print
{
    html {
        font-size: 13px;
    }
    body {
        height: 100%;
    }
    body, body > main {
        /*
          Firefox can't split pages correctly when we use flexbox
          so we use display: block and correct other things that depend on flexbox
        */
        display: block;
    }
    pre {
        page-break-inside: avoid;
        white-space: pre-wrap;
    }
    body > header, body > footer {
        display: none;
    }
}
