{% extends "base.tera" %}
{% set title = "Add Account" %}

{% block content %}
{% if is_administrator %}
<h1>Add New Account</h1>
<form method=POST>
    <fieldset>
        <div>
            <label for=username>Username</label>
            <input name=username id=username type=text />
            <label for=password>Password</label>
            <input name=password id=password type=password />
        </div>
    </fieldset>
    <button>Add</button>
</form>
{% endif %}
{% endblock %}
