{% extends "base.tera" %}
{% block content %}
    <article>
        <header>
            <h1>{{ title }}</h1>
            <nav><a href="?edit">Edit this article</a></nav>
        </header>
        <main>
            {{ rendered_cmark | safe }}
        </main>
    </article>
{% endblock content %}
