<!DOCTYPE html>
<html lang=en>
<head>
    <link rel=stylesheet href=/assets/default.css />
    <link rel=icon href=/assets/smolwik.icon.svg />
    {% block head %}
        <title>{{ title }} - smolwik</title>
    {% endblock head %}
</head>
<body>
<header id=primary-header>
    <div>
        <a id=brand href=/ >smolwik - the small wiki</a>
        <nav id=primary-navbar>
        {% if can_create %}
            <a href=/special:create>Create Article</a>
        {% endif %}
        {% if is_authenticated %}
            <form method=POST action=/special:logout>
                <input name=session_id type=hidden value="{{ session_id }}" />
                <button id=logout>Log out{% if username %} ({{ username }}){% endif %}</button>
            </form>
        {% else %}
            <a id=login href=/special:login>Log in</a>
        {% endif %}
        </nav>
    </div>
</header>
<main>{% block content %}{% endblock content %}</main>
<footer>
    {% block footer %}
        <nav>
            <div><a href=/special:tree>Index</a></div>
        {% if is_administrator %}
        <div><a href=/special:admin>Admin</a></div>
        {% endif %}
        </nav>
        <div>powered by smolwik</div>
    {% endblock footer %}
</footer>
</body>
</html>
