<html>
{#
    This file can only be changed by recompiling. As this is a last-resort fallback, this template *must* not fail to
    render. As such, it explicitly does not extend any other templates. The only variable it uses is template_error,
    which defaults to an empty value if not present.
#}
<head><title>Error rendering error template</title></head>
<body>
<h1>Error rendering error template</h1>
<p>
    An error occurred, then another error occurred while attempting to render the error template.
    The original error has been lost. Please correct or remove the custom error template to get
    error messages again.
</p>
<p>{{ template_error | default(value="None") }}</p>
</body>
</html>
