<html>
<head>
    <link href="assets/default.css" rel="stylesheet" />
    <title>{{ title }}</title>
</head>
<body>
    <main>
    {{ rendered_cmark | safe }}
    </main>
    <footer>
        <header><a href="?mode=Edit">Edit this page</a></header>
    </footer>
</body>
</html>
